@model List<Tour>
@{
    ViewData["Title"] = "Tours Page";
    List<Slider> sliders = ViewBag.Slider;
}


@section Link {
    <link rel="stylesheet" href="~/assets/scss/tours.css">
}

<main>
    <section id="slider">
        <div class="content">
            <div class="image">
                <img src="~/assets/images/SectionImages/@sliders.Find(s=>s.Title=="Our Tours").ImagePath" alt="">
            </div>
            <h1 style="font-size:66px" class="d-lg-block d-md-none d-sm-none">Our Tours</h1>
        </div>
    </section>


    <section id="allsection">
        <div class="col-lg-4 col-md-4">
            <div class="tour-search">
                <div class="container">
                    <div class="row">
                        <div class="title">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <h3>Tour Search</h3>
                        </div>

                        <div class="keywords">
                            <h5>Keywords</h5>
                            <form class="form-inline col-lg-12  my-2 my-lg-0"  method='get' target='_blank'>
                                <main class='search'>
                                    <input type='search' aria-label="Search" class='search-input form-control' id="searchh" name='q' placeholder='search'>
                                </main>
                            </form>
                        </div>
                    

                        <div class="category">
                            <h5>Category</h5>
                            <div class="categories">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <input type="checkbox" name="" id="">
                                    <label for="">@category.Name</label>
                                    <br>
                                }
                            </div>
                        </div>

                        <div class="duration">
                            <h5>Duration</h5>
                            @foreach (Tour item in Model.OrderBy(i => i.DayCount).GroupBy(i => i.DayCount).Select(g => g.First()))
                            {
                                <input type="checkbox" name="" id="">
                                <label for="">@item.DayCount Day Tour</label>
                                <br>
                            }
                        </div>

                        <div class="price">
                            <div class="minprice">
                                <h5>Min Price</h5>
                                <input type="text" name="" id="">
                            </div>
                            <div class="maxprice">
                                <h5>Max Price</h5>
                                <input type="text" name="" id="">
                            </div>
                        </div>

                        <div class="mt-3 difficulty">
                            <h5>Difficulty</h5>
                            <select style="padding:10px 20px;margin-top:17px;border-color:gray; border-radius:5px" name="" id="">
                                <option value="">Difficulty</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                            </select>
                        </div>

                        <div class="rating">
                            <h5>Rating</h5>
                            <select name="" id="">
                                <option value="">Rating</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                            </select>
                        </div>

                        <div class="age">
                            <h5>Age</h5>
                            @foreach (var item in Model.OrderBy(i => i.PassangerAge).GroupBy(i => i.PassangerAge).Select(g => g.First()))
                            {
                                <input type="checkbox" name="" id="">
                                <label for="">@item.PassangerAge+</label>
                                <br>
                            }
                            
                        </div>
                        <div class="destination">
                            <h5>Destination</h5>
                            @foreach (Tour item in Model.GroupBy(i => i.Destination).Select(g => g.First()))
                            {
                                <input type="checkbox" name="" id="">
                                <label for="">@item.Destination.Name</label>
                                <br>
                            }
                           
                        </div>
                        <button class="btn button btn-dark w-75 mt-5">Search</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8">
            <div id="alltours">
                <div class="tours w-100 tab_content d-flex ">
                    <div class="container">
                        <div class="row">
                            @foreach (Tour item in Model)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="card featured-item">
                                        <img style="height:30vh;object-fit:cover" class='tokenImage'
                                             src="~/assets/images/toursphotos/@item.TourImages.FirstOrDefault(ti=>ti.IsMain==true)?.Path"
                                             alt="NFT" />
                                        <div class="title">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" xml:space="preserve" style="fill: #ffa11a">
                                            <path d="M397.413,199.303c-2.944-4.576-8-7.296-13.408-7.296h-112v-176c0-7.552-5.28-14.08-12.672-15.648
                                                c-7.52-1.6-14.88,2.272-17.952,9.152l-128,288c-2.208,4.928-1.728,10.688,1.216,15.2c2.944,4.544,8,7.296,13.408,7.296h112v176
                                                c0,7.552,5.28,14.08,12.672,15.648c1.12,0.224,2.24,0.352,3.328,0.352c6.208,0,12-3.616,14.624-9.504l128-288
                                                C400.805,209.543,400.389,203.847,397.413,199.303z"></path>
                                                    </svg>
                                            <a asp-controller="Tour" asp-action="Details" asp-route-id="@item.Id">
                                                <span>@item.Name</span>
                                            </a>
                                        </div>
                                        <div class="main d-flex justify-content-between ">
                                            <div class='description'>
                                                <div class="duration">
                                                    <i class="fa-regular fa-clock"></i>
                                                    <span>@item.DayCount Day</span>
                                                </div>
                                                <div class="age">
                                                    <i class="fa-solid fa-user-tie"></i>
                                                    <span>Min Age: @item.PassangerAge +</span>
                                                </div>
                                                <div class="difficulty">
                                                    <img width="19" style="color: black;"
                                                         src="~/assets/images/SectionImages/single-icon-difficulty-2.png"
                                                         alt="">
                                                    <span>Difficulty: @item.Difficulty</span>
                                                </div>
                                            </div>
                                            <div class='priceinfo '>
                                                <div class="discountprice">
                                                    <del>$@item.Price</del>
                                                </div>
                                                <div class="price">
                                                    <p>$@item.DiscountPrice</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                          
                        </div>
                        <p style="opacity: 0;" id="not_found"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


@section Scripts {
    <script src="./assets/js/tours.js"></script>
}
